<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.greatwqs.app.mapper.TicketTypeMapper">
  <resultMap id="BaseResultMap" type="com.github.greatwqs.app.domain.po.TicketTypePo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="ISValid" jdbcType="BIT" property="isvalid" />
    <result column="CreateUserId" jdbcType="BIGINT" property="createuserid" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UpdateUserId" jdbcType="BIGINT" property="updateuserid" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, Name, ISValid, CreateUserId, CreateTime, UpdateUserId, UpdateTime
  </sql>

  <select id="selectByTypeIdList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tickettype
    where ISValid = 1 and ID in
    <foreach item="item" index="index" collection="ticketTypeIdList" open="(" separator="," close=")">
      #{item}
    </foreach>
    order by ID desc
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tickettype
    where ISValid = 1
    order by ID desc
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tickettype
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tickettype
    where Name = #{name,jdbcType=VARCHAR} and ISValid = 1
    order by ID desc
    limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tickettype
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.github.greatwqs.app.domain.po.TicketTypePo">
    insert into tickettype (ID, Name, ISValid,
    CreateUserId, CreateTime,
    UpdateUserId, UpdateTime)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{isvalid,jdbcType=BIT},
    #{createuserid,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP},
    #{updateuserid,jdbcType=BIGINT}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.github.greatwqs.app.domain.po.TicketTypePo" useGeneratedKeys="true" keyProperty="id">
    insert into tickettype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="isvalid != null">
        ISValid,
      </if>
      <if test="createuserid != null">
        CreateUserId,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="updateuserid != null">
        UpdateUserId,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=BIT},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        #{updateuserid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.github.greatwqs.app.domain.po.TicketTypePo">
    update tickettype
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        ISValid = #{isvalid,jdbcType=BIT},
      </if>
      <if test="createuserid != null">
        CreateUserId = #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        UpdateUserId = #{updateuserid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.github.greatwqs.app.domain.po.TicketTypePo">
    update tickettype
    set Name = #{name,jdbcType=VARCHAR},
      ISValid = #{isvalid,jdbcType=BIT},
      CreateUserId = #{createuserid,jdbcType=BIGINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateUserId = #{updateuserid,jdbcType=BIGINT},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>